@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


:root{
     --var-serif: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

a{
    text-decoration: none;
}

a, p, h1, h2, h3, h4, h5, h6{
    color:rgb(234, 234, 234)
}
